.DS_Store
*~
.*.swp
.netrwhist
vim/bundle/*
vim/bundle/**/*
vim/session/*
vim/session/**/*
vim/spell/*
vim/tmp/*
vim/tmp/**/*
config/ranger/bookmarks
config/ranger/history
config/ranger/__pycache__
config/ranger/tagged
config/ranger/*.pyo
