.DS_Store
*~
.*.swp
.netrwhist
vim/autoload/plug.vim*
vim/plugged/*
vim/plugged/**/*
vim/session/*
vim/session/**/*
vim/spell/*
vim/tmp/*
vim/tmp/**/*
config/ranger/bookmarks
config/ranger/history
config/ranger/__pycache__
config/ranger/tagged
config/ranger/*.pyo
config/dmenu-frecency/state
config/fish/fish_history
config/fish/fishd*
