snippet ri "Insert eruby <%=  %> brackets" i
<%= $0 %>
endsnippet

snippet rt "Insert eruby <%  %> brackets" i
<% $0 %>
endsnippet

snippet hv "Insert hash value"
:${1:hash} => ${0:wert}
endsnippet

snippet h "Insert hash string"
:${1:hash} => "${2:wert}"${0}
endsnippet
