.emacs.desktop
.emacs.desktop.lock

projectile-bookmarks.eld
config.el
recentf

elpa/
auto-save-list/

undo/*
!undo/.gitkeep

desktop/*
!desktop/.gitkeep

local/*
!local/.gitkeep

backup/*
!backup/.gitkeep

