.emacs.desktop
.emacs.desktop.lock
session.*
tramp
transient/
bookmarks
smex-items
.org-id-locations

projectile-bookmarks.eld
config.el
recentf

desktop/
eshell/
elpa/
auto-save-list/
emojis/
bookmarks/

undo/*
!undo/.gitkeep

local/*
!local/.gitkeep

backup/*
!backup/.gitkeep

# compiled files
*.elc

# transient files
*.cache-*
*.log

# straight
straight/*
!straight/versions/