.emacs.desktop
.emacs.desktop.lock

projectile-bookmarks.eld
config.el
recentf

desktop/
eshell/
elpa/
auto-save-list/
emojis/

undo/*
!undo/.gitkeep

local/*
!local/.gitkeep

backup/*
!backup/.gitkeep

# compiled files
*.elc

# transient files
*.cache-*
*.log